body {
  font-family: Helvetica Neue, Helvetica;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.aplus {
  background-color: #73C97D;
}

.a {
  background-color: #73C97D;
}

.b {
  background-color: #97C688;
}

.c {
  background-color: #DFB537;
}

.d {
  background-color: #F09A36;
}

.f {
  background-color: #E76A6A;
}

.btn.btn-primary {
  background: white;
  border: 1px solid black;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.navbar {
  background: white;
}

.navbar-nav {
  width: auto;
  flex-direction: row;
}

.nav-item {
  display: inline-block;
  margin: 0 13px;
}

.nav-item a {
  color: black;
}

.navbar-brand a {
  color: #CCCCCC;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
}

.btn-small {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 7px;
}