h4 {
  text-transform: uppercase;
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.percentage {
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.course-container {
  background: linear-gradient(#79BEE8, #71A8DB);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.course-container.red {
  background-image: linear-gradient(-180deg, #EB879E 0%, #DB718B 100%);
}

.course-container.green {
  background-image: linear-gradient(-180deg, #9CCE9F 0%, #80B688 100%);
}

.course-container.yellow {
  background-image: linear-gradient(-180deg, #E6DE87 0%, #DCB46B 100%);
}

.course-container.orange {
  background-image: linear-gradient(-180deg, #E6B487 0%, #DC976B 100%);
}

.course-container a {
  color: white;
}

.course .badge {
  font-size: 18px;
}

.courseName a {
  display: block;
  font-size: 23px;
  font-weight: 500;
}

.courseId {
  font-weight: 500;
  color: rgba(255,255,255, .6);
}