.id {
  font-size: 12px;
  color: grey;
}

th {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}

.studentName {
  font-size: 18px; 
  font-weight: 500;
  color: #037EF0;
}

.gradeInput {
  font-size: 13px;
  padding: 0px 5px;
}

.gradeTotal {
  font-size: 13px;
  padding: 0;
}

.gradeInput, .gradeTotal {
  margin: 0;
}